{% extends "base.html" %} {% block content %} {{ super() }}

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-YH38KGD8GH"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-YH38KGD8GH");
</script>

<!-- Giscus -->
<!-- <h2 id="__comments">{{ lang.t("meta.comments") }}</h2> -->
<script
  src="https://giscus.app/client.js"
  data-repo="howie6879/weekly"
  data-repo-id="MDEwOlJlcG9zaXRvcnk0MDc1ODY4MzM="
  data-category="Announcements"
  data-category-id="DIC_kwDOGEtIEc4COh9f"
  data-mapping="title"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="light"
  data-lang="zh-CN"
  crossorigin="anonymous"
  async
></script>

<!-- Reload on palette change -->
<script>
  var palette = __md_get("__palette");
  if (palette && typeof palette.color === "object")
    if (palette.color.scheme === "slate") {
      var giscus = document.querySelector("script[src*=giscus]");
      giscus.setAttribute("data-theme", "dark");
    }

  /* Register event handlers after documented loaded */
  document.addEventListener("DOMContentLoaded", function () {
    var ref = document.querySelector("[data-md-component=palette]");
    ref.addEventListener("change", function () {
      var palette = __md_get("__palette");
      if (palette && typeof palette.color === "object") {
        var theme = palette.color.scheme === "slate" ? "dark" : "light";

        /* Instruct Giscus to change theme */
        var frame = document.querySelector(".giscus-frame");
        frame.contentWindow.postMessage(
          {
            giscus: {
              setConfig: {
                theme,
              },
            },
          },
          "https://giscus.app"
        );
      }
    });
  });
</script>

<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?772285068d87b6d2f879ec8223a82f0b";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

{% endblock %}
