[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.douban.com/simple/"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-rss-plugin = "*"
mkdocs-git-revision-date-localized-plugin = "*"
pyyaml = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
pypdf2 = "*"

[scripts]
deploy = "bash ./deploy.sh"
