body {
  font-family: "LXGW WenKai Screen R", Calibri, Arial, sans-serif;
}

div.md-container img {
  display: block;
  box-shadow: 0 0 10px #555;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 10px #555;
}

.md-tabs__link {
  font-size: 0.77rem !important;
}

.md-tabs__item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
